* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
  background-color: #f0f2f5;
  color: #1c1e21;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #bcc0c4;
  border-radius: 10px;
}

body {
  transition: background-color 0.3s ease;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
